    <div class='body'>
      <div class='container'>

        <p id="notice"></p>


        <div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h1>Editing Book</h1>






<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <%= f.label :Title %>
    <%= f.text_field :title, class:"col-xs-12 book_title" %>
  </div>

  <div class="field row">
    <%= f.label :Opinion %>
    <%= f.text_area :body, class:"col-xs-12 book_title" %>
  </div>

  <div class="actions row">
    <%= f.submit('Update Book',class: 'btn btn-primary col-xs-12')%>
  </div>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>



    </div>
    <div class='col-md-3'></div>
</div>
      </div>
    </div>

    <footer>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3 col-xs-offset-9'>
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>